body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:18px;
  width:1377px;
  height:560px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:272px;
  width:1373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:560px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:18px;
  width:146px;
  height:560px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:272px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:76px;
  width:57px;
  height:20px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:2px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:82px;
  width:1232px;
  height:1px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:41px;
  width:351px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u2802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:156px;
  width:71px;
  height:20px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:154px;
  width:205px;
  height:25px;
}
#u2804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:529px;
  width:86px;
  height:31px;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u2807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:46px;
  width:71px;
  height:20px;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:422px;
  width:57px;
  height:20px;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:420px;
  width:104px;
  height:25px;
}
#u2811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:373px;
  width:85px;
  height:20px;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:371px;
  width:131px;
  height:25px;
}
#u2814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:324px;
  width:43px;
  height:20px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:323px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:324px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:324px;
  width:21px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:323px;
  width:52px;
  height:22px;
}
#u2823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2823_input:disabled {
  color:grayText;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:323px;
  width:52px;
  height:22px;
}
#u2824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2824_input:disabled {
  color:grayText;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:323px;
  width:52px;
  height:22px;
}
#u2825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2825_input:disabled {
  color:grayText;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:377px;
  width:71px;
  height:20px;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:375px;
  width:104px;
  height:25px;
}
#u2828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:210px;
  width:71px;
  height:20px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:465px;
  width:43px;
  height:20px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:463px;
  width:104px;
  height:25px;
}
#u2833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:123px;
  width:15px;
  height:16px;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:212px;
  width:168px;
  height:18px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2836_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:211px;
  width:168px;
  height:18px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2838_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:211px;
  width:168px;
  height:18px;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2840_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:249px;
  width:184px;
  height:18px;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2842_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:466px;
  width:57px;
  height:20px;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:464px;
  width:104px;
  height:25px;
}
#u2846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:417px;
  width:85px;
  height:20px;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:417px;
  width:138px;
  height:25px;
}
#u2849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:290px;
  width:71px;
  height:20px;
  color:#FF0000;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:292px;
  width:53px;
  height:18px;
  color:#FF0000;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2852_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:293px;
  width:53px;
  height:18px;
  color:#FF0000;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2854_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:327px;
  width:71px;
  height:20px;
  color:#FF0000;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:328px;
  width:53px;
  height:18px;
  color:#FF0000;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2858_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:329px;
  width:53px;
  height:18px;
  color:#FF0000;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2860_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:288px;
  width:61px;
  height:18px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2862_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:288px;
  width:99px;
  height:20px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:288px;
  width:61px;
  height:18px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2866_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
