body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:600px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13468 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:240px;
  height:600px;
}
#u13469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:51px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13471 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:240px;
  height:51px;
}
#u13472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13473 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:28px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13476 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:32px;
  width:14px;
  height:2px;
}
#u13477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13478 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:36px;
  width:14px;
  height:2px;
}
#u13479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13480 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:40px;
  width:14px;
  height:2px;
}
#u13481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13482 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:12px;
  width:865px;
  height:600px;
}
#u13483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13484 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:120px;
  width:236px;
  height:37px;
}
#u13485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13486 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:84px;
  width:236px;
  height:37px;
}
#u13487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13488 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:156px;
  width:236px;
  height:37px;
}
#u13489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13490 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:192px;
  width:236px;
  height:37px;
}
#u13491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13492 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:228px;
  width:236px;
  height:37px;
}
#u13493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13494 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:264px;
  width:236px;
  height:37px;
}
#u13495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13496 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:300px;
  width:236px;
  height:37px;
}
#u13497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13498 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:336px;
  width:236px;
  height:37px;
}
#u13499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13500 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:372px;
  width:236px;
  height:37px;
}
#u13501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13502 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:408px;
  width:236px;
  height:37px;
}
#u13503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13504 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:444px;
  width:236px;
  height:37px;
}
#u13505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13506 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:480px;
  width:236px;
  height:37px;
}
#u13507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13508 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:516px;
  width:236px;
  height:37px;
}
#u13509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13510 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:97px;
  width:16px;
  height:16px;
}
#u13511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u13512 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:96px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u13513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u13514 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:130px;
  width:110px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u13515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:2px;
}
#u13516 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:84px;
  width:828px;
  height:1px;
}
#u13517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13518 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:40px;
  width:397px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u13520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:2px;
}
#u13520 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:167px;
  width:828px;
  height:1px;
}
#u13521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13522 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:105px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u13524 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:305px;
  width:754px;
  height:225px;
}
#u13525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u13527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13527 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u13529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u13529 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u13531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13531 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u13533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13533 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u13535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u13535 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:183px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u13537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u13537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:90px;
  height:40px;
}
#u13538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u13539 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:30px;
  width:99px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u13541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u13541 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:30px;
  width:148px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u13543 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:30px;
  width:104px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u13545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u13545 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:30px;
  width:125px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u13547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u13547 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:30px;
  width:183px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:90px;
  height:30px;
}
#u13550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13551 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:70px;
  width:99px;
  height:30px;
}
#u13552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u13553 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:70px;
  width:148px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13555 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:70px;
  width:104px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u13557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13557 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:70px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u13559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u13559 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:70px;
  width:183px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:90px;
  height:30px;
}
#u13562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13563 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:100px;
  width:99px;
  height:30px;
}
#u13564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u13565 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:100px;
  width:148px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13567 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:100px;
  width:104px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13569 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:100px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u13571 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:100px;
  width:183px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:90px;
  height:30px;
}
#u13574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13575 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:130px;
  width:99px;
  height:30px;
}
#u13576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u13577 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:130px;
  width:148px;
  height:30px;
}
#u13578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13579 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:130px;
  width:104px;
  height:30px;
}
#u13580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13581 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:130px;
  width:125px;
  height:30px;
}
#u13582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:130px;
  width:183px;
  height:30px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:90px;
  height:30px;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:160px;
  width:99px;
  height:30px;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:160px;
  width:148px;
  height:30px;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:160px;
  width:104px;
  height:30px;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:160px;
  width:125px;
  height:30px;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u13595 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:160px;
  width:183px;
  height:30px;
}
#u13596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:90px;
  height:30px;
}
#u13598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13599 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:190px;
  width:99px;
  height:30px;
}
#u13600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u13601 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:190px;
  width:148px;
  height:30px;
}
#u13602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13603 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:190px;
  width:104px;
  height:30px;
}
#u13604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13605 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:190px;
  width:125px;
  height:30px;
}
#u13606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u13607 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:190px;
  width:183px;
  height:30px;
}
#u13608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:2px;
}
#u13609 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:246px;
  width:828px;
  height:1px;
}
#u13610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:781px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13611 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:682px;
  width:861px;
  height:781px;
}
#u13612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13613 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:662px;
  width:113px;
  height:20px;
}
#u13614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13615 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:704px;
  width:85px;
  height:20px;
}
#u13616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:2px;
}
#u13617 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:740px;
  width:812px;
  height:1px;
}
#u13618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13619 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:1339px;
  width:112px;
  height:40px;
}
#u13620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:108px;
  word-wrap:break-word;
}
#u13621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13621 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1339px;
  width:112px;
  height:40px;
}
#u13622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:108px;
  word-wrap:break-word;
}
#u13623 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:112px;
  width:110px;
  height:25px;
}
#u13623_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13624 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:814px;
  width:71px;
  height:20px;
}
#u13625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13626 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:814px;
  width:253px;
  height:119px;
}
#u13626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:119px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13627 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:115px;
  width:57px;
  height:20px;
}
#u13628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13629 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:115px;
  width:71px;
  height:20px;
}
#u13630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13631 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:114px;
  width:89px;
  height:22px;
}
#u13631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13631_input:disabled {
  color:grayText;
}
#u13632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13632 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:115px;
  width:9px;
  height:16px;
}
#u13633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u13634 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:114px;
  width:90px;
  height:22px;
}
#u13634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13634_input:disabled {
  color:grayText;
}
#u13635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u13635 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:117px;
  width:21px;
  height:19px;
}
#u13636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13637 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:186px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u13639 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:206px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13639_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-4px;
  width:10px;
  height:8px;
}
#u13639_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-4px;
  width:8px;
  height:450px;
}
#u13640 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13641 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1065px;
  width:71px;
  height:20px;
}
#u13642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13643 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1063px;
  width:100px;
  height:18px;
}
#u13644 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13643_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13645 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1098px;
  width:100px;
  height:18px;
}
#u13646 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13645_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13647 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1221px;
  width:253px;
  height:71px;
}
#u13647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u13648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u13648 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:115px;
  width:21px;
  height:19px;
}
#u13649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13650 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:768px;
  width:57px;
  height:20px;
}
#u13651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13652 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:767px;
  width:90px;
  height:22px;
}
#u13652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13652_input:disabled {
  color:grayText;
}
#u13653 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:1136px;
  width:83px;
  height:25px;
}
#u13653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13654 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1138px;
  width:57px;
  height:20px;
}
#u13655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13656 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:1138px;
  width:43px;
  height:20px;
}
#u13657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13658 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:1137px;
  width:94px;
  height:22px;
}
#u13658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13658_input:disabled {
  color:grayText;
}
#u13659 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:1170px;
  width:83px;
  height:25px;
}
#u13659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13660 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1172px;
  width:71px;
  height:20px;
}
#u13661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13662 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:1169px;
  width:43px;
  height:20px;
}
#u13663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13664 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:1168px;
  width:79px;
  height:22px;
}
#u13664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13664_input:disabled {
  color:grayText;
}
#u13665 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:1168px;
  width:79px;
  height:22px;
}
#u13665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13665_input:disabled {
  color:grayText;
}
#u13666 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:1168px;
  width:79px;
  height:22px;
}
#u13666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13666_input:disabled {
  color:grayText;
}
#u13667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13667 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:1163px;
  width:88px;
  height:27px;
}
#u13668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u13669 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:965px;
  width:131px;
  height:25px;
}
#u13669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13670 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:965px;
  width:43px;
  height:20px;
}
#u13671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13672 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1012px;
  width:218px;
  height:25px;
}
#u13672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13673 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1012px;
  width:71px;
  height:20px;
}
#u13674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13675 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:963px;
  width:88px;
  height:27px;
}
#u13676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u13677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13677 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:345px;
  width:29px;
  height:20px;
}
#u13678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13679 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:345px;
  width:29px;
  height:20px;
}
#u13680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13681 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:345px;
  width:29px;
  height:20px;
}
#u13682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13683 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:345px;
  width:29px;
  height:20px;
}
#u13684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
