body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1163px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19770 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:12px;
  width:900px;
  height:600px;
}
#u19771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19772 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:13px;
  width:898px;
  height:40px;
}
#u19773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19774 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:13px;
  width:898px;
  height:50px;
}
#u19775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19776 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:32px;
  width:17px;
  height:17px;
}
#u19777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u19778 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:535px;
  width:18px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u19779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19780 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:328px;
  width:760px;
  height:115px;
}
#u19781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u19781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u19783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u19783 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u19785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u19785 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u19787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u19787 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:0px;
  width:213px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:209px;
  word-wrap:break-word;
}
#u19789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u19789 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  word-wrap:break-word;
}
#u19791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u19791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u19793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u19793 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:30px;
  width:148px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:144px;
  word-wrap:break-word;
}
#u19795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u19795 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:30px;
  width:117px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u19797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u19797 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:30px;
  width:213px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u19799 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:30px;
  width:198px;
  height:40px;
}
#u19800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u19801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u19803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u19803 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:70px;
  width:148px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:144px;
  word-wrap:break-word;
}
#u19805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u19805 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:70px;
  width:117px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u19807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u19807 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:70px;
  width:213px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u19809 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:70px;
  width:198px;
  height:40px;
}
#u19810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19811 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:32px;
  width:182px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u19813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u19813 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:526px;
  width:18px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u19814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:2px;
}
#u19815 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:265px;
  width:789px;
  height:1px;
}
#u19816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19817 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:117px;
  width:57px;
  height:20px;
}
#u19818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19819 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:115px;
  width:117px;
  height:25px;
}
#u19819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:2px;
}
#u19820 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:184px;
  width:789px;
  height:1px;
}
#u19821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19822 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:116px;
  width:110px;
  height:22px;
}
#u19822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19822_input:disabled {
  color:grayText;
}
#u19823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19823 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:116px;
  width:71px;
  height:20px;
}
#u19824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19825 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:105px;
  width:121px;
  height:41px;
}
#u19826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u19827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19827 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:201px;
  width:121px;
  height:41px;
}
#u19828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u19829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19829 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:370px;
  width:42px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19831 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:370px;
  width:42px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19833 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:370px;
  width:69px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
