body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1163px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19835 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:12px;
  width:900px;
  height:600px;
}
#u19836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19837 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:13px;
  width:898px;
  height:40px;
}
#u19838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19839 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:13px;
  width:899px;
  height:50px;
}
#u19840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19841 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:29px;
  width:17px;
  height:17px;
}
#u19842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19843 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:30px;
  width:384px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u19845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19845 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:198px;
  width:71px;
  height:20px;
}
#u19846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19847 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:196px;
  width:195px;
  height:25px;
}
#u19847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19848 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:264px;
  width:43px;
  height:20px;
}
#u19849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19850 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:262px;
  width:195px;
  height:25px;
}
#u19850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19851 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:346px;
  width:71px;
  height:20px;
}
#u19852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19853 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:344px;
  width:57px;
  height:18px;
}
#u19854 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u19853_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19855 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:344px;
  width:57px;
  height:18px;
}
#u19856 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u19855_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19857 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:508px;
  width:140px;
  height:25px;
}
#u19857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
