body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18589 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:37px;
  width:809px;
  height:496px;
}
#u18590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18591 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:457px;
  width:75px;
  height:30px;
}
#u18592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u18593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u18593 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:457px;
  width:31px;
  height:30px;
}
#u18594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u18595 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:457px;
  width:28px;
  height:30px;
}
#u18596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18597 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:457px;
  width:75px;
  height:30px;
}
#u18598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u18599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18599 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:460px;
  width:29px;
  height:23px;
  font-size:20px;
}
#u18600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:379px;
}
#u18601 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:37px;
  width:809px;
  height:379px;
}
#u18602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
