body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1163px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18603 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:12px;
  width:900px;
  height:600px;
}
#u18604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18605 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:13px;
  width:898px;
  height:40px;
}
#u18606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18607 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:13px;
  width:898px;
  height:50px;
}
#u18608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u18609 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:535px;
  width:18px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u18610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18611 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:328px;
  width:760px;
  height:115px;
}
#u18612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u18612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u18614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u18614 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u18616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u18616 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u18618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u18618 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:0px;
  width:213px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:209px;
  word-wrap:break-word;
}
#u18620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u18620 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  word-wrap:break-word;
}
#u18622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u18622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u18624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u18624 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:30px;
  width:148px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:144px;
  word-wrap:break-word;
}
#u18626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u18626 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:30px;
  width:117px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u18628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u18628 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:30px;
  width:213px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u18630 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:30px;
  width:198px;
  height:40px;
}
#u18631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u18632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u18634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u18634 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:70px;
  width:148px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:144px;
  word-wrap:break-word;
}
#u18636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u18636 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:70px;
  width:117px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u18638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u18638 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:70px;
  width:213px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u18640 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:70px;
  width:198px;
  height:40px;
}
#u18641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u18642 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:32px;
  width:267px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u18643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u18644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u18644 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:526px;
  width:18px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u18645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:2px;
}
#u18646 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:265px;
  width:789px;
  height:1px;
}
#u18647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18648 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:117px;
  width:57px;
  height:20px;
}
#u18649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18650 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:115px;
  width:117px;
  height:25px;
}
#u18650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:2px;
}
#u18651 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:184px;
  width:789px;
  height:1px;
}
#u18652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18653 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:116px;
  width:110px;
  height:22px;
}
#u18653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18653_input:disabled {
  color:grayText;
}
#u18654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18654 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:116px;
  width:71px;
  height:20px;
}
#u18655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18656 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:105px;
  width:121px;
  height:41px;
}
#u18657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u18658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18658 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:201px;
  width:121px;
  height:41px;
}
#u18659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u18660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18660 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:370px;
  width:42px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u18662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18662 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:370px;
  width:42px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u18664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18664 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:370px;
  width:69px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
