body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1008px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:24px;
  width:976px;
  height:600px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:92px;
  width:62px;
  height:20px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:92px;
  width:215px;
  height:25px;
}
#u8017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:176px;
  width:62px;
  height:20px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:178px;
  width:300px;
  height:170px;
}
#u8020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:328px;
  width:62px;
  height:16px;
  color:#999999;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:393px;
  width:62px;
  height:20px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:393px;
  width:215px;
  height:25px;
}
#u8025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:398px;
  width:83px;
  height:20px;
  color:#999999;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u8028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:458px;
  width:62px;
  height:20px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:456px;
  width:215px;
  height:25px;
}
#u8030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:544px;
  width:140px;
  height:40px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:544px;
  width:140px;
  height:40px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
