body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:988px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:21px;
  width:971px;
  height:647px;
  overflow:hidden;
}
#u3968_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3968_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:596px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:11px;
  width:876px;
  height:596px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:84px;
  width:23px;
  height:24px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:0px;
  width:34px;
  height:32px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3968_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:596px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:24px;
  width:876px;
  height:596px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:0px;
  width:34px;
  height:32px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
